.article-preview {
  position: relative;
  display: block;
  width: 100vw !important;
  height: 80vh;
  min-height: 600px;
  max-height: 900px;
  overflow: hidden !important;
  user-select: none;
  color: white !important;

  &:first-child {
    max-height: 100vh !important;
  }
}

.preview-content {
  position: absolute;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  .article-title {
    color: white;
    //font-size: 30pt;
  }

  .article-excerpt {
    padding: 5vh 0;
    p {
      font-size: 1.25em !important;
    }
  }
  .read-article {
    font-size: 1.1em;
    display: inline-block;
    //border set with previewSetColors()
    border-width: 2px;
    border-style: solid;

    p {
      margin: 0;
      padding: 10px;
      line-height: 16pt;
    }
  }
}


@include media-breakpoint-up(md) {
  .article-excerpt {
    padding: 10vh 0 !important;
  }
}


@import "preview-full";
@import "preview-offset";
@import "preview-cropped";
@import "preview-none";


.no-background {
  background: rgba(0,0,0,0) !important;
  .preview-background-img {
    display: none;
  }
}
