.article-block-quote {
  padding:  150px 0;


  .block-quote {
    h1 {
      line-height: 170%;
    }
  }
  .container {
    overflow: visible;
  }
}


.block-quote-image-background {
  position: relative;
  overflow: visible;

  .container {
    overflow: visible;
  }
  .block-quote-image-container {
    position: absolute;
    right: 0;
    img {
      height: 65vh;
      max-height: 800px;
    }
  }
}

.image-left {
  .block-quote-image-container {
    position: relative;
    img {
      position: absolute;
      left: 0;
    }
  }
}

.image-stuck-left {
  .block-quote-image-container {
    position: absolute;
    left: 0;
  }
}

.image-right {
  .block-quote-image-container {
    position: relative;
    img {
      position: absolute;
      right: 0;
    }
  }
}

.image-stuck-right {
  .block-quote-image-container {
    position: absolute;
    right: 0;
  }
}

@include media-breakpoint-up(lg) {
  .block-quote-image-background {
    margin-bottom: 50px;
  }
};
