.excerpt-inside {
  .hero-excerpt {
    transform: translateY(-60px);
  }
}

.excerpt-outside {
  .hero-excerpt {
    margin-top: 30px;
  }
}

.hero-excerpt {
  margin-bottom: 200px;

  .author {
    margin-top: 20px;
    font-size: 18pt;
  }
}

.hero-aligned .hero-excerpt .excerpt{
  margin-top: 200px !important;
}
