

.hero-excerpt {
  font-weight: 600;
  .excerpt {
    @extend .hero-excerpt-responsive;
  }
}


.title-regular {
  .article-title {
    h1 {
      @extend .title-md-responsive;
      line-height: 110%;
    }
  }
}

.title-stack {
  .article-title {
    h1 {
      @extend .hero-title-responsive;
      word-spacing: 99999999999pt;
    }
  }
}

.title-duplicated {
  .hero {

    .article-title {
      max-width: none;
      width: 9999vw;
      top: initial;
      bottom: 0;
      transform: translate3d(-50%, 2%, 0);

      h1 {
        font-size: 20vw;
        line-height: 120%;
      }
    }
  }
}

.title-vertical-space {
  .article-title {
    h1 {
      @extend .hero-title-responsive;
      line-height: 150%;
    }
  }

  @include media-breakpoint-up(sm) {
    .article-title {
      h1 {
        line-height: 170%;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .article-title {
      h1 {
        line-height: 260%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .article-title {
      h1 {
        line-height: 320%;
      }
    }
  }
}

.align-excerpt-center {
  .hero-excerpt {
    text-align: center;
  }
}

.align-excerpt-right {
  margin: 0 10px;
  .hero-excerpt {
    .row {
      margin-right: 0;
      div[class*='col'] {
        padding: 0;
      }
    }
  }
}

.align-excerpt-left {
  margin-left: 10px !important;
  .hero-excerpt {
    text-align: left;
    .row {
      //
    }
  }
}

.align-author-left {
  .hero-excerpt {
    .author {
      text-align: left;
    }
  }
}

.align-author-center {
  .hero-excerpt {
    .author {
      text-align: center;
    }
  }
}

.align-author-right {
  .hero-excerpt {
    .author {
      text-align: right;
    }
  }
}
