.title-regular {
  .article-title {
    h1 {
      font-size: 5em !important;
    }
  }
}

.title-stack {
  .article-title {
    h1 {
      word-spacing: 99999999999pt;
      font-size: 5em !important;
    }
  }
}

.title-duplicated {
  .hero {

    .article-title {
      max-width: none;
      width: 9999vw;
      top: initial;
      bottom: 0;
      transform: translate3d(-50%, 2%, 0);

      h1 {
        font-size: 20vw;
        line-height: 120%;
      }
    }
  }
}

.title-vertical-space {
  .article-title {
    h1 {
      font-size: 5em !important;
      line-height: 150%;
    }
  }


  @include media-breakpoint-up(sm) {
    .article-title {
      h1 {
        line-height: 170%;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .article-title {
      h1 {
        line-height: 260%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .article-title {
      h1 {
        line-height: 320%;
      }
    }
  }
}



.align-excerpt-center {
  .hero-excerpt {
    text-align: center;
  }
}

.align-excerpt-right {
  margin: 0 10px;
  .hero-excerpt {
    text-align: right;
    .row {
      margin-right: 0;
    }
  }
}

.align-excerpt-left {
  .hero-excerpt {
    text-align: left;
  }
}

.align-author-left {
  .hero-excerpt {
    .author {
      text-align: left;
    }
  }
}

.align-author-center {
  .hero-excerpt {
    .author {
      text-align: center;
    }
  }
}

.align-author-right {
  .hero-excerpt {
    .author {
      text-align: right;
    }
  }
}
