.hero-aligned {

  .container {
    overflow-x: visible !important;
    overflow-y: visible !important;
    .hero {
      overflow-y: visible !important;
      .hero-image {
        position: relative;
        height: 100% !important;
        z-index: -1;
        overflow-y: visible !important;

        img {
          position: absolute;
          height: 106%;
          width: auto;
          object-fit: initial !important;
        }
      }
    }
  }
}

.hero-align-right {
  .hero-image {
    text-align: right;

    img {
      transform: translateY(56.5px);
      position: absolute;
      right: 0;

    }
  }
}
