body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 14px;
  font-family: 'Cerebri Sans Book', sans-serif !important;
  @include media-breakpoint-up(md) { font-size: 15px !important; };
  @include media-breakpoint-up(lg) { font-size: 16px !important; };
}

h1 { font-size: 4.209em; }
h2 { font-size: 3.157em; }
h3 { font-size: 2.369em; }
h4 { font-size: 1.777em; }
h5 { font-size: 1.333em; }
h6 { font-size: 1em; }

p {
  font-size: 1.1em;
}

h1,h2,h3,h4,h5 {
  line-height: 150%;
}

.bold {
  font-weight: 600;
}
.x-minute-read {
  display: inline-block;
  padding: 10px;
  //font-size: 0.8em !important;
  //color: black !important;
  //background-color: cyan;
}

a.disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
}

.page-content {
  .text-column {
    a {
      color: black;
      text-decoration: none;
      border-bottom: 2px solid black;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }
}
