article {
  padding-bottom: 150px;

  section {
    margin-bottom: 130px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: visible;

    &:first-child {
      margin-top: 100px;
    }
  }
}

.page-template-page-template-aux {
  article {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    section {
      &:last-child {
        margin-bottom: 80px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  article {
    section {
      margin-bottom: 300px !important;
    }
  }
};
