article {
  padding-bottom: 150px;

  section {
    margin-bottom: 300px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: visible;

    &:first-child {
      margin-top: 100px;
    }
  }
}

.page-template-page-template-aux {
  article {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
