footer {
  padding-bottom: 30px;
  padding-top: 150px;
  margin: auto 10px 30px 10px;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      a {
        color: black;
        text-decoration: none !important;

        &:hover {
          color: black;
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: flex-end;
  }
  .social-icons {
    margin-bottom: auto;

    a {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
