footer {
  padding: 150px 20px 40px 20px;
  margin-top: auto;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      a {
        color: black;
        text-decoration: none !important;

        &:hover {
          color: black;
        }
      }
    }
  }

  div[class*='col'] {
    padding: 0 10px;
  }
}
