.nav-content {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 20px;

  a {
    color: white;
    text-decoration: none;
  }

  .switch-view {
    width: 100%;
    text-align: center;
    margin: 10px 0 30px 0;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding-bottom: 5px;
        opacity: 0.6;

        &:first-child {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
          color: white;
          padding: 0 0px;
          pointer-events: all;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .recent-issues {
      margin: auto;

      .issue-container {
        display: inline-block;
        width: 100% !important;
        //padding: 0 !important;

        .issue-description {
          display: none;
        }


        &:first-child {
          width: 100%;
          //padding: 6vh 0 0 0;
          text-align: center;
          margin-bottom: 25px;

          .current-issue-heading {
            margin-bottom: 15px;
          }
        }

        //RECENT ISSUES
        &:not(:first-child) {
          .issue {
            border-top: 2px solid white;

            h5 {
              margin-top: 10px;
              font-size: 10pt;
            }

            h3 {
              font-size: 15pt;
            }

            p {
              margin-top: 40px;
            }
          }
          &:last-child {
            .issue {
              border-bottom: 2px solid white;
            }
          }
        }

        .issue {
          display: block;

          .current-issue-title {
            font-size: 22pt;
            margin-bottom: 30px;
          }

          h4 {
            color: white;
          }
        }
      }
    }

    .pages {
      display: none;
      opacity: 0;
      //height: 100%;
      margin: auto 0;


      ul {
        padding: 0;
        li {
          list-style: none;
          display: block;
          border-bottom: 2px solid white;

          &:first-child {
            border-top: 2px solid white;
          }

          a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 10px 0;
            font-size: 14pt;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .switch-view {
    a {
      font-size: 20pt !important;
    }
  }

  .nav-content {

    p {
      font-size: 16pt;
    }

    .current-issue-title {
      font-size: 30pt !important;
    }

    .issue-title {
      font-size: 18pt !important;
    }

    h5 {
      font-size: 13pt !important;
    }

    .pages {
      a {
        font-size: 18pt !important;
        padding: 15px 0 !important;
      }
      li {
        border-bottom: 4px solid white !important;
        &:first-child {
          border-top: 4px solid white !important;
        }
      }
    }

    .content {
        //overflow-y: hidden;
      .issue-description {
        display: block !important;
      }

      .recent-issues {


        .issue-container {

          &:first-child {
            .issue-description {
              padding: 0 25%;
              margin-bottom: 60px;
            }
          }

          &:not(:first-child) {
            width: 33.3% !important;
            float: left !important;

            .issue {
              border-top: 0;
              padding: 0 6px !important;



              h5 {
                padding-top: 10px;
                border-top: 4px solid white;
              }


            }

            &:last-child {
              .issue {
                border-bottom: 0;
              }

            }
          }
        }
      }

    }
  }
}

.nav-content-display-none {
  display: none !important;
}

.nav-content-visible {
  display: flex;
  flex-direction: column;
}

.view-btn-select {
  border-bottom: 2px solid white;
  opacity: 1 !important;

  a {
    pointer-events: none !important;
  }
}
