.nav-content {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 20px;

  a {
    color: white;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .recent-issues {
      margin: auto;

      .issue-container {
        display: inline-block;
        width: 100% !important;

        .issue-description {
          display: none;
        }


        &:first-child {
          width: 100%;
          text-align: center;
          margin-bottom: 25px;

          .current-issue-heading {
            margin-bottom: 15px;
          }
        }

        //RECENT ISSUES
        &:not(:first-child) {
          .issue {
            border-top: 2px solid white;

            p {
              margin-top: 40px;
            }
          }
          &:last-child {
            .issue {
              border-bottom: 2px solid white;
            }
          }
        }

        .issue {
          display: block;
          padding-top: 10px;

          .current-issue-title {
            margin-bottom: 30px;
          }

          h4 {
            color: white;
          }
        }
      }
    }

    .pages {
      display: none;
      opacity: 0;
      margin: auto 0;

      ul {
        padding: 0;
        li {
          list-style: none;
          display: block;
          border-bottom: 2px solid white;

          &:first-child {
            border-top: 2px solid white;
          }

          a {
            display: block;
            text-decoration: none;
            color: white;
            padding: 10px 0;
            font-size: 1.333em;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .nav-content {
    .pages {
      a {
        padding: 15px 0 !important;
      }

      li {
        border-bottom: 4px solid white !important;

        &:first-child {
          border-top: 4px solid white !important;
        }
      }
    }

    .content {
      .issue-description {
        display: block !important;
      }

      .recent-issues {
        .issue-container {
          &:first-child {
            .issue-description {
              padding: 0 25%;
              margin-bottom: 60px;
            }
          }

          &:not(:first-child) {
            width: 33.3% !important;
            float: left !important;

            .issue {
              border-top: 0;
              padding: 0 6px !important;



              h6 {
                padding-top: 10px;
                border-top: 4px solid white;
              }


            }

            &:last-child {
              .issue {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.nav-content-display-none {
  display: none !important;
}

.nav-content-visible {
  display: flex;
  flex-direction: column;
}

.view-btn-select {
  border-bottom: 2px solid white;
  opacity: 1 !important;

  a {
    pointer-events: none !important;
  }
}

.issue-container {
  &:first-child {
    a.disabled {
      opacity: 1 !important;
    }
  }
}

.issue-container {
  &:not(:first-child) {
    a.disabled {
      opacity: 1 !important;
      h6,h5,p {
        color: rgba(255,255,255, 0.5);
      }
    }
  }
}
