.page-aux-content {
  margin-top: 140px;

  .page-title {
    text-align: left;
    h1 {
      line-height: 110% !important;
      display: inline-block;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-aux-content {
    margin-top: 250px !important;
  }
}
